#include "kobitokey.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include <input/processors/sensor_rotation.dtsi>

/ {
    dummy_leds {
        compatible = "gpio-leds";
        led_red: led_0 { gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; };
        led_green: led_1 { gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>; };
        led_blue: led_2 { gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>; };
    };

    aliases {
        led-red = &led_red;
        led-green = &led_green;
        led-blue = &led_blue;
    };
};

&xiao_serial { status = "disabled"; };

/* 💡 存在する全てのinput-splitを明示的に制御する */
/ {
    split_inputs {
        compatible = "zmk,split-inputs";
        
        /* 1番目のノード（自分自身を参照させてASSERTを回避） */
        tb_right: tb_right@0 {
            compatible = "zmk,input-split";
            reg = <0>;
            input = <&tb_right>; 
        };
        
        /* 2番目のノード（検出されているため、これも有効化してASSERTを回避） */
        tb_unused: tb_right@1 {
            compatible = "zmk,input-split";
            reg = <1>;
            input = <&tb_unused>;
        };
    };
};

/* リスナーには本来のソースを紐付ける */
&tb_right_listener {
    status = "okay";
    input = <&tb_right>;
    input-processors = <&zip_temp_layer 3 5000>;
};
