#include "kobitokey.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include <input/processors/sensor_rotation.dtsi>

/ {
    dummy_leds {
        compatible = "gpio-leds";
        /* 💡 XIAO BLEに確実に存在する未使用ピン（P0.06, P0.26, P0.30）に変更 */
        led_red: led_0 { gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>; };
        led_green: led_1 { gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>; };
        led_blue: led_2 { gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>; };
    };

    aliases {
        led-red = &led_red;
        led-green = &led_green;
        led-blue = &led_blue;
    };
};

&xiao_serial { status = "disabled"; };

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 5)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 4)>,
                    <NRF_PSEL(SPIM_MISO, 0, 4)>;
        };
    };
};

&tb_right_split {
    status = "okay";
};

&tb_right_listener {
    status = "okay";
    input-processors = <&zip_temp_layer 3 5000>;
};
